section {
    padding-top: 128px;
    position: relative;
}

section::before {
    z-index: -1;
    content: '';
    font-size: 72px;
    color: gray;
    opacity: 0.25;
    position: absolute;
    font-weight: 500;
    top: 20px;
    left: -30px;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 0 3px rgb(0, 0, 0, 0.25);
}

img {
    max-width: 400px;
    max-height: 400px;
}

#profil {
    border: 3px solid black;
    border-radius: 8px;
}

.home h1 {
    font-size: 48px;
}

.home h3 {
    font-size: 24px;
}

.btn.button {
    border: 2px solid black;
    border-radius: 8px;
}

.btn.button:hover, .btn.button.active {
    background-color: black;
    border-radius: 8px;
    color: white;
}

.home .arrow img {
    width: 60px;
}

#arrow {
    animation: 1s upDown infinite;
}

.about::before {
    content: 'About';
}

.about-exp-item {
    margin-top: 32px;
}

.about-exp-item-detail {
    display: none;
}

.about-exp-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.work::before {
    content: 'work';
}

.work-img-item {
    position: relative;
}

.work-img-item:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
}

.work-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "work-1 work-2" "work-3 work-3";
    gap: 16px;
}

.work-img img {
    width: 100%;
}

#work-1 {
    grid-area: work-1;
}

#work-1:hover::after {
    content: 'Image Manipulation';
}

#work-2 {
    grid-area: work-2;
}

#work-2:hover::after {
    content: 'Poster Designs';
}

#work-3 {
    grid-area: work-3;
}

#work-3:hover::after {
    content: 'Web Project';
}

.contact::before {
    content: 'Contact';
}

.contact {
    padding-bottom: 128px;
}

.form-label {
    font-weight: 500;
}

.contact-form {
    border: 1px solid black;
    padding: 64px 32px;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}