section {
    padding-top: 128px;
    position: relative;
}

section::before {
    z-index: -1;
    content: '';
    font-size: 72px;
    color: gray;
    opacity: 0.25;
    position: absolute;
    font-weight: 500;
    top: 20px;
    left: -30px;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 0 3px rgb(0, 0, 0, 0.25);
}

img {
    max-width: 400px;
    max-height: 400px;
}

#profil {
    border: 3px solid black;
    border-radius: 8px;
}

.home h1 {
    font-size: 48px;
}

.home h3 {
    font-size: 24px;
}

.btn.button {
    border: 2px solid black;
    border-radius: 8px;
}

.btn.button:hover, .btn.button.active {
    background-color: black;
    border-radius: 8px;
    color: white;
}

.home .arrow img {
    width: 60px;
}

#arrow {
    animation: 1s upDown infinite;
}

.about::before {
    content: 'About';
}

.about-exp-item {
    margin-top: 32px;
}

.about-exp-item-detail {
    display: none;
}

.about-exp-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}